---

---

<div
	id="menuToggle"
	class="relative cursor-pointer md:hidden text-lg font-everett font-medium p-2 z-50"
>
	<div class="relative overflow-hidden">
		<span class="inline-block relative">Menu</span>
		<span class="inline-block absolute left-1/2 -translate-x-1/2 bottom-full"
			>Close</span
		>
	</div>
</div>
