---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import Brands from '../../components/Brands.astro'; 
import Verticals from '../../components/Verticals.astro';
import OurTeam from '../../components/OurTeam.astro';
import ConctactUs from '../../components/ConctactUs.astro';
---

<Layout title="Amplifica | Brands moving at the pace of culture">
	<main>
		<Hero />
		<Brands /> 
		<Verticals />
		<OurTeam />
		<ConctactUs />
	</main>
</Layout>
